
.p15{
    padding:15px;
}
.p30{
    padding:30px;
}
.btn-group .am-btn{
    width: 110px;
    margin-right: 10px;
}
.am-btn-primary-line,.am-btn-primary-line:hover,.am-btn-primary-line:focus,.am-btn-primary-line:active{
    border:1px solid  transparent;
    background: #fff;
    color: #F45138;
    box-shadow: none;
}
.xm-form .xm-form-cont .am-btn.am-btn-primary-line{
    width: 100px;
    position: absolute;
    top:0;
    right:-150px;
    z-index: 66;


}
.search form { 
    position: relative; 
    width: 260px; 
    margin: 0 auto; 
    height: 40px; 
}
.search input, button { 
    border: none; 
    outline: none; 
} 
.search input { 
    width: 100%; 
    height: 40px;
    padding-left: 13px; 
    width: 0; 
    padding: 0 37px 0 15px; 
    background: transparent; 
    transition: .3s linear; 
    position: absolute; 
    top: 0; 
    right: 0; 
    z-index: 2; 
    font-size: 14px;
} 
.search button { 
    height: 40px; 
    width: 37px; 
    cursor: pointer; 
    position: absolute; 
    background: #ffffff;
    top: 0; 
    right: 0;
} 
.search button:before {
    content: "\f002";
    font-family: FontAwesome; 
    font-size: 20px;
    color: #000000;
} 
.search input:focus {
     width: 26rem; 
     z-index: 1; 
     border-bottom:1px solid #e6e6e6;
} 
.am-table.admin-listtable > thead > tr > th:first-child,.am-table.admin-listtable > tbody > tr > td:first-child{
    padding-left:15px;
    width: 40px;
}
.table-check{
    width: 50px;
}
.am-table.admin-listtable > thead > tr > th:last-child,.am-table.admin-listtable> tbody > tr > td:last-child{
  padding-right:15px;
  text-align: right;
}

.xm-handle{
    position: relative;
}
.xm-icons{
    padding:0 10px;
}
.xm-handle .fa-ellipsis-v{
    position: relative;
    top:4px;
    display: inline-block;
    color: #9E9E9E;
    font-size: 22px;
    cursor: pointer;
}
.xm-handle .fa-ellipsis-v:hover{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
.icon-rotate{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
.xm-handlebox{
    position: absolute;
    display: none;
    padding:10px 15px;
    background:rgba(255,255,255,1);
    box-shadow: 0px 1px 7px 0px rgba(205,27,0,0.3) ;
    border-radius:4px ; 
    z-index: 111;
    right: 50px;
    top:3px;
    text-align: right;
    width: auto;
}
.xm-popcont{
    position: relative;
    width: 100%;
}
.xm-popcont::after{
    clear: both;
}
.xm-popcont a{
    display:inline-block;
}
.xm-popcont a{
    color:#666666;
}
.xm-popcont a:hover{
    color:#F45138;
}
.xm-popcont .w120{
    min-width: 12rem;
}
.xm-popcont .w180{
    min-width: 18rem;
}

/* icon caozuo */


.xm-popcont-1{
    position: relative;
    width: 100%;
    height:45px;
}
.xm-popcont-1::after{
    clear: both;
}
.xm-popcont-1 a{
    display:inline-block;
}
.xm-popcont-1 a{
    color:#666666;
    height: 30px;
    vertical-align: top;
    width: 30px;
    text-align: center;
    font-size:14px;
    margin:5px 10px 0 10px;
}
.xm-popcont-1 a:hover{
    color:#F45138;
}
.xm-popcont-1 a p{
    padding:0;
    margin:0;
    font-size:12px;
    text-align: center;
    display: none;
}
.xm-popcont-1 a:hover p{
    display: block;
    padding:0;
    margin:0;
    font-size:12px;

}

.xm-popcont-1 .w120{
    min-width: 12rem;
}
.xm-popcont-1 .w180{
    min-width: 18rem;
}



.xm-popcaret{
    position: absolute;
    right:-8px;
    top:50%;
    margin-top: -8px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 8px solid rgba(254,254,254,0.85);;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 0 dotted;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    overflow: hidden;
}
.xm-handlebox a{
    margin-left: 10px;
    margin-right:10px;
}

/* tabs  new-info */
.new-info-tabs{
    position: relative;
}
.new-info-tabs .am-nav-tabs {
    margin:20px auto;
    box-sizing: border-box;
    border:0;
    display: table
}
.new-info-tabs .am-nav-tabs li a {
    display: inline-block;
    color: #333;
    font-size: 14px;
    padding:0;
    height: 38px;
    line-height: 38px;
    width: 150px;
    text-align: center;
    margin:0;
    border: 1px solid #ccc;
    text-decoration: none;

}
.new-info-tabs .am-nav-tabs li a:hover {
    background: transparent;
}
.new-info-tabs .am-nav-tabs>li.am-active>a,
.new-info-tabs .am-nav-tabs>li.am-active>a:focus,
.new-info-tabs .am-nav-tabs>li.am-active>a:hover {
    border:1px solid transparent;
    background: #F45138;
    color: #ffffff;
    border-radius: 0;
}
.new-info-tabs .am-nav-tabs li.am-active {
    background: #F45138;
    color: #ffffff;
    border-radius: 5px;
}
.new-info-tabs .am-nav-tabs li:first-child a,
.new-info-tabs .am-nav-tabs li:first-child>a:focus,
.new-info-tabs .am-nav-tabs li:first-child>a:hover
{
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    border-right:0;
}
.new-info-tabs .am-nav-tabs li:last-child a,
.new-info-tabs .am-nav-tabs li:last-child>a:focus,
.new-info-tabs .am-nav-tabs li:last-child>a:hover
{
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
    border-left:0;
}
.new-info-tabs .am-nav-tabs li:first-child.am-active {
    background: #F45138;
    color: #ffffff;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.new-info-tabs .am-nav-tabs li:last-child.am-active {
    background: #F45138;
    color: #ffffff;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.new-info-tabs .am-tabs-bd .am-tab-panel {
    padding: 0;
}
.new-info-tabs .am-tabs-bd {
    border: none;
    margin:0 auto;
    margin-top: 30px;
}
    
/* form */
.xm-form{
    position: relative;
}
.test-labels-width{
    margin-left: 90px;
}
.xm-form label.am-form-label{
    padding-left:10px;
    position: absolute;
    text-align: left;
    padding-top:9px;
    font-weight: normal;
    font-size:14px;
}
.xm-form label .test-star{
    position: absolute;
    left:0;
    top:12px;
    color:red;
}
.xm-form-cont{
    position: relative;
    margin-left:150px;
    box-sizing: border-box;
}
.form-btn-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.mt30{
    margin-top: 30px;
}
.w450{
    width: 450px;
}
.w200{
    width: 200px;
}
.w600{
    width: 860px;
    margin: 0 auto;
    padding:0 130px
}
.w400{
    width: 400px;
    margin: 0 auto;
}
.info-inputbox{
    margin: 50px auto
}
.d-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    text-align: left;
}
.d-flex .w145{
    width: 146px;
    margin-right:4px;
}
.w50{
    position: relative;
    top:6px;
    width: 50px;
    text-align: center;
}
.xm-form  .xm-form-cont .am-btn{
    border-radius: 5px;
    width: 200px;
    margin-right: 45px;
}
.xm-form  .xm-form-cont .am-btn-default{
    margin-right: 0;
}
.xm-form-text{
    line-height: 38px;
    margin: 0;
    font-size:14px;
}
.xm-namelist{
    list-style: none;
    margin:20px;
    font-size:14px;
    color: #999999;
}
.xm-namelist li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.xm-namelist li span{
    display: inline-block;
    margin:0;
    width: 33%;
}



.form-inout{
    padding: 10px;
    font-size: 14px;
    line-height: 1.2;
    color: #555555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

/* tree */
.tree-box{
    min-width: 200px;
}
.tree-list ul{
    margin:0;
    padding:0;
}
.tree-list{
    margin:0;
    font-size:14px;
    height: 100%;
}
.tree-list ul li{
    display: block;
    padding-left:15px;
    line-height: 30px;
    position: relative;
    cursor: pointer;
}
.tree-list ul li span{
    position: absolute;
    display: inline-block;
    left:0;
    top:8px;
    margin-right: 5px;
}

/* gongzuotai */
.xm-title{
    font-size: 16px;
    padding:6px 20px;
    color:rgba(244,81,56,1);
    background:rgba(244,81,56,0.1094);
}

/*admin工作台*/
.admin-worklist{
    list-style: none;
    margin:0;
    padding:0;
  }
  .admin-worklist li{
    display: inline-block;
    float: left;
    margin-top: 30px;
    text-align: center;
    margin-right:80px;
  }
  .admin-worklist li a{
    display: block;
  }
  .admin-worklist li a:hover{
    text-decoration: none;
  }
  .admin-worklist li a p{
    margin-top: 10px;
    color:rgba(0,0,0,1);
  }
  .admin-worklist li:last-child{
    border:1px solid #F45138;
    width: 84px;
    height: 84px;
  }
  .admin-worklist li:last-child a img{
    width: 100%;
  }

  .admin-listtable1 th ,.admin-listtable td{
      width: 150px;

  }
  
  /* huamingce */
  .list-name{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  .list-name li {
      margin-right: 10px;

  }
  .list-name li:last-child{
      margin-right: 0;
  }
  .mt3{
      margin-top:3px;
  }
 
  
.am-bg-gray{
      background:#f3f3f3
  }
.pt20{
      padding-top:20px;
  }
.pt15{
    padding-top:15px;
}
.pt30{
    padding-top:30px;
}
.pb10{
    padding-bottom:10px
  }
.mb30{
      margin-bottom: 30px;
  }
.add-btn-box{
      text-align:center;
      margin-bottom: 20px;
  }
.add-btn-box a{
      display: inline-block;
      width:150px;
      border:1px solid #F45138;
      height: 40px;
      line-height:40px;
      border-radius: 5px;
      text-align: center;
      font-size:14px;

  }
.bank-card{
    width: 250px;
    height: 170px;
    border-radius: 10px;
}  
.xm-form-img{
    margin-top: 10px;
}
.xm-zl-piclist{
    margin:0;
    padding:0;
}
.xm-zl-piclist li{
    float: left;
    display: inline-block;
    margin-right: 20px;
    border:1px solid #ccc;
    
}
.xm-zl-piclist li img{
    width: 120px;
    height: 100px;
}
.xm-zl-piclist li p{
    text-align: center;
    font-size: 14px;
    margin:5px 0;
    color:#999999;
}

/* 上传 */
.xm-add-style ul li{
    float: left;
    width:150px;
    border:1px solid #CCCCCC;
    border-radius: 5px;
    position: relative;
    margin-right: 20px;
    font-size:14px;
}

.add-pic{
    padding-top:10px;
}
.xm-add-style{
    text-align: center;
}
.xm-add-style .fa-close{
    position: absolute;
    right:-7px;
    top:-8px;
    background:rgba(255,255,255,.7);
    font-weight: normal;
    border-radius: 25px;
    width: 25px;
    height: 27px;
    line-height: 32px;
    font-size:14px;
    color: #999999;
}
.xm-add-style ul li p{
    margin:10px 0;
    font-size:14px;
    
}

.xm-add-style input[type='text']{
    border-top:1px solid #ccc;
    border-radius: 0;
    border-right:0;
    border-left:0;
    margin-bottom: 0;
    border-bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right:20px;
}
.xm-editor{
   position: relative;
   vertical-align: middle;
} 
.xm-editor .fa-pencil{
    position: absolute;
    right:5px;
    top:50%;
    margin-top:-7px;
    cursor: pointer;
}
.add-pic{
    position: relative;
}
.add-pic input{
    position: absolute;
    padding-top:20%;
    top:0;
    right:0;
    left:0;
    height: 120px;
    cursor: pointer;
    z-index: 1;
    opacity: .0;
    width: 150px;
}

/* 导入 */
.xm-daoru{
    font-size: 14px;
    text-align: left;
    padding:20px;
}
.xm-daoru-warning span{
    color:#F5900D;
    margin-right:10px;
    font-size:18px;
}
.xm-daoru-select select{
    border-radius: 5px;
    height: 32px;
    line-height: 32px;
    width:120px;
    text-indent: 10px;
    box-shadow: none;
    outline: none;
    border:1px solid #ccc;
}
.mt20{
    margin-top: 20px;
}
.xm-daoru-progress{
    display: flex;
    justify-content: space-between;
}
.progress{
    width: 70%;
}
.upload-btn{
    height: 32px;
    line-height: 32px;
    padding:0 15px;
    border-radius: 5px;
}
.ml15{
    margin-left: 15px;
}
.xm-progress{
    height: 5px;
    line-height: 5px;
    border-radius: 10px;
    margin-bottom: 0;
    margin-top:10px;
}
.am-progress-bar-blue{
    background-color:#4A90E2;
}

/* daochu */
.part-two{
    background: #ffffff;
    display: flex;
    height: 350px;
}
.part-two-left{
    width: 50%;
    text-align: left;
    background: #F6F6F6;
    max-height: 350px;
    overflow-y: auto;
}
.part-two-right{
    width:50%;
    border-left:1px solid #cccccc;
    max-height: 350px;
    overflow-y: auto;
    text-align: left;
}
.mb15{
    margin-bottom: 15px;
}
.dc-contlist ul{
    margin:0;
    padding:0;
}
.dc-contlist ul li{
    line-height: 30px;
    height: 30px;
    margin-bottom: 0;
    font-size: 14px;
    margin-top: 6px;
    text-align: left;
    width: 100%;
}
.dc-contlist ul li span{
    float: right;
    position: relative;
    top:0px;
    cursor: pointer;
}
/* delete */
.xm-deletebox{
    padding:20px 0;
    text-align: left;
}
.delete-textarea{
    width:100%;
    margin-top: 15px;
    border:1px solid #ccc;
    text-indent: 5px;
    background:rgba(246,246,246,1);
}

/* 员工花名册 */
.xm-form .xm-form-cont .am-btn.btn-xinzeng{
    width:60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}
.btn-xinzeng{
    position: absolute;
    right:-44px;
    top:0;
}
/* 新增员工 */
.xm-newperson{
    background: #ffffff;
    display: flex;
    height: 400px;
}
.newpersonlist{
    width: 50%;
    text-align: left;
    background: #F6F6F6;
    max-height: 400px;
    overflow-y: auto;
}
.check-person{
    padding-top:10px;
    width:50%;
    border-left:1px solid #cccccc;
}
.add-checkboxlist{
    margin-top: 10px;
    overflow-y: auto;
    max-height: 340px;
    padding-right:10px;
}
.add-checkboxlist label{
    margin-top: 15px;
    margin-bottom: 15px;
}
.xm-add-search{
    position: relative;
    display: flex;
}
.xm-add-search input{
    border-radius: 5px;
    border:1px solid #cccccc;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right:1px solid transparent;
    height: 35px;
    line-height: 35px;
    outline: none;
    text-indent: 5px;
    font-size:12px;
    width: 100%;
}
.xm-add-search button{
    font-size:18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 35px;
    line-height: 35px;
    padding:0 15px;
}
/* zhaopin */
.mt15{
    margin-top: 15px;;
}
.listform{
    display: flex;
}
.listform ul{
   display: table;
    
}
.listform ul li{
    display: table-cell;
    margin:0;
    padding:0;
    position: relative;
}
.form-cell{
    float: left;
    width:150px;
    margin-left: 15px;
    margin-top: 15px;
}

.tablist{
    padding-top: 30px;
}
.tablist ul{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center
}
.tablist ul li{
    display: inline-block;
    text-align: center;
    width:140px;
    margin-top: 10px;;
}
.tablist ul li a{
    display: block;
    border:1px solid #F45138;
    height: 38px;
    line-height: 38px;
    border-right:0;
    font-size:14px;
}
.tablist ul li a.active{
    background: #F45138;
    color:#ffffff;
}
.tablist ul li:first-child a{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.tablist ul li:last-child a{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right:1px solid #F45138
}
.p20{
    padding:20px;
}
.zp-title{
    border-left:5px solid #F45138;
    padding-left:10px;
    margin-bottom: 30px;
}
.w168{
    width:168px;
    position: relative
}
.mr15{
    margin-right:15px;
}
.text-position{
    display: block;
    word-wrap: none;
    margin-top: 10px;
    margin-left:10px;
    margin-right:10px;
    font-size:14px;
}
.year-radio{
    margin-top: 7px;
    margin-left: 20px;
}
.tagbox{
    border:1px solid #cccccc;
    padding:7px;
    border-radius: 5px;
}
.tagstyle{
    position: relative;
    display: inline-block;
    font-size:12px;
    margin-right:15px;
}
.tagstyle span{
    display: block;
    position: absolute;
    right:-10px;
    top:-5px;
    color:#cccccc;
    text-align: center;

}
.w265{
    width:265px;

}
.ml100{
    margin-left: 80px;
}
.mt9{
    margin-top: 9px;
}
.listcheck{
    margin-top: 9px;
}
.listcheck label.am-checkbox{
    margin-bottom: 15px;
}
.ml50{
    margin-left: 30px;
}
.icon-zhaopin{
    position: relative;
    top:-4px;
}
.icon-zhaopin img{
    margin-right: 5px;
}
.testlist{
    margin:0 100px;
    display: flex;
    justify-content: space-between
}
.testlist ul{
    margin:0;
    padding:0;
    
}
.testlist ul li{
    margin-bottom: 10px;
    margin-top: 5px;
    font-size:14px;
}

.xm-mobanlist{
    font-size:14px;
}
.xm-mobanlist ul li{
    border-bottom:1px solid #cccccc;
    padding-bottom:15px;
    margin-bottom: 15px;
    padding-left: 40px;
    position: relative;
}
.xm-mobanlist ul li .am-checkbox{
    position: absolute;
    top:-8px;
    left:5px;
}
.xm-mobanlist ul li:last-child{
    border-bottom: 1px solid transparent;
}
.xm-mobanlist ul li h3{
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    margin-bottom: 10px;
    margin-top:0;
}
.xm-mobanlist ul li h3 a{
    font-size:14px;
    color:#333333;
}
.xm-mobanlist ul li h3 a:hover{
    color: #F45138;
}
.xm-mobanlist ul li p{
    margin-top: 0;
    margin-bottom: 5px;

}
.moban-title{
    margin-bottom: 5px;
}



/* step */
/* ----------------------------------------- */ 
.wizard-steps {
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-bottom: 20px;
}
.wizard-steps .wstep {
  display: inline-block;
  width: 40%;
  position: relative;
  font-size: 14px;
}
.wizard-steps .wstep:last-child{
    width: 20%;
}
.wizard-steps .wstep:after {
  content: "";
  position: absolute;
  top: 31px;
  left: 20px;
  border-top: 1px solid  #D8D8D8;
  height: 2px;
  width: 100%;
}
.wizard-steps .wstep:last-child:after {
  border: none;
}
.wizard-steps .wstep .donut {
  border: 1px solid #F45138;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  position: relative;
  margin-bottom: 5px;
  background: #ffffff;
}
.wizard-steps .wstep .txt {
    margin-top: 5px;
    position: relative;
    left: -30px;
  }
  .wizard-steps .wstep .txt  p{
      margin:0;
  } 
.wizard-steps .wstep .txt span{
    display: inline-block;
    font-weight: bold;
} 
.wizard-steps .wstep.current .donut {
    background:#F45138;
  }
.wizard-steps .wstep.done .donut {
    background: #F45138;
}
.wizard-steps .wstep.yanqi .donut {
    background: #F5900D;
    border-color: #F5900D;

}
.wizard-steps .wstep.fail .donut {
    background: #999999;
    border-color: #999999;
}
.shenpi-btn{
    padding:20px;
}
.shenpi-btn button{
    padding: 8px 12px;
    margin-right: 10px;
    margin-left: 10px;
    width: 100px;
}
.sp-cont{
    font-size:14px;
    padding:30px 20px;
}
.sp-title{
    font-size: 14px;
    line-height: 36px;
}
.am-btn-line-red,.am-btn-line-red:hover,.am-btn-line-red:focus,.am-btn-line-red:active{
    display: inline-block;
    border:1px solid  transparent;
    background: #fff;
    color: #F45138;
    box-shadow:none; 
    
}
.xm-form .xm-form-cont .am-btn.am-btn-add{
    width: 100px;
    margin-left: 10px;;
}
.inputstyle{
    border:1px solid #cccccc;
    padding:11px 12px;
    border-radius: 5px;
    margin-left: 10px;
}
.p50{
    padding:50px 0;
}


/*  */
.zhuangtai-text{
    position: relative;
    left: -10px;
    font-size:14px;
    color:#000000;
}

/* upload logo */

.upload-logo{
    overflow: hidden;
    color: #FFFFFF;
    position: relative;
  }
  .upload-logo:hover .up-filebtn{
      display: block;
  }
 .up-filebtn{
    display: none;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    background: rgba(0,0,0,.4);;
  }
  .upload_pic{
    display: block;
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  .up-img{
    width: 100px;
    height: 100px;
    border:1px solid rgba(221,221,221,0.8);
    box-shadow: 0 0px 13px rgba(221,221,221,0.8);
  }
  .tip-text{
    color: #cccccc;
    position: relative;
    bottom: 60px;
    font-size:14px;
    margin-left: 120px;
  }


  /* select */
.select-div{
    position:relative;
    font-size:14px;
}  
.select-div .select-text{
    background:url("../../assets/img/icon-arrow-1.png")  center right 7px no-repeat;
    width:100%;
    display:inline-block;
    text-indent:10px;
    border:1px solid #cccccc;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
} 

.select-div .select-contdiv{
    display:none;
    width:100%;
    border:1px solid #EEEEEE;
    border-radius:1px;
    background:#FFF;
    margin-top:2px;
    position:absolute;
    z-index:100;
    padding:5px;
}  
.select-div .select-contdiv .add-btn{
    width: 100%;
    display: block;
    text-align: center;
    color: #F45138;
    height: 30px;
    padding:0;
    line-height: 30px;
    margin-bottom: 10px;
}
.select-div .select-contdiv.selectcontShow{
    display:block;
}  

.select-div .select-contdiv ul li{
    text-indent:10px;
    cursor:pointer;
    margin-bottom: 5px;
}  
.select-div .select-contdiv ul li:hover{
    background:#1e90ff; 
    color:#ffffff;
}  
  












    