/* ------------------button----------------- */
.am-btn-third {
    color: #fff;
    background-color: #F5900D;
    border-color: #F5900D;
  }
  a.am-btn-third:visited {
    color: #fff;
  }
  .am-btn-third:hover,
  .am-btn-third:focus,
  .am-btn-third:active,
  .am-btn-third.am-active,
  .am-dropdown.am-active .am-btn-third.am-dropdown-toggle {
    color: #fff;
    border-color: #F5900D;
  }
  .am-btn-third:hover,
  .am-btn-third:focus {
    background-color: #F5900D;
  }
  .am-btn-third:active,
  .am-btn-third.am-active,
  .am-dropdown.am-active .am-btn-third.am-dropdown-toggle {
    background-image: none;
    background-color: #F5900D;
  }
  .am-btn-third.am-disabled,
  .am-btn-third[disabled],
  fieldset[disabled] .am-btn-third,
  .am-btn-third.am-disabled:hover,
  .am-btn-third[disabled]:hover,
  fieldset[disabled] .am-btn-third:hover,
  .am-btn-third.am-disabled:focus,
  .am-btn-third[disabled]:focus,
  fieldset[disabled] .am-btn-third:focus,
  .am-btn-third.am-disabled:active,
  .am-btn-third[disabled]:active,
  fieldset[disabled] .am-btn-third:active,
  .am-btn-third.am-disabled.am-active,
  .am-btn-third[disabled].am-active,
  fieldset[disabled] .am-btn-third.am-active {
    background-color: #F5900D;
    border-color: #F5900D;
  }
  .am-btn-group .am-btn-third,
  .am-btn-group-stacked .am-btn-third {
    border-color: #F5900D;
  }
/* btn-four */
  .am-btn-four {
    color: #fff;
    background-color: #FFA837;
    border-color: #FFA837;
  }
  a.am-btn-four:visited {
    color: #fff;
  }
  .am-btn-four:hover,
  .am-btn-four:focus,
  .am-btn-four:active,
  .am-btn-four.am-active,
  .am-dropdown.am-active .am-btn-four.am-dropdown-toggle {
    color: #fff;
    border-color: #FFA837;
  }
  .am-btn-four:hover,
  .am-btn-four:focus {
    background-color: #FFA837;
  }
  .am-btn-four:active,
  .am-btn-four.am-active,
  .am-dropdown.am-active .am-btn-four.am-dropdown-toggle {
    background-image: none;
    background-color: #FFA837;
  }
  .am-btn-four.am-disabled,
  .am-btn-four[disabled],
  fieldset[disabled] .am-btn-four,
  .am-btn-four.am-disabled:hover,
  .am-btn-four[disabled]:hover,
  fieldset[disabled] .am-btn-four:hover,
  .am-btn-four.am-disabled:focus,
  .am-btn-four[disabled]:focus,
  fieldset[disabled] .am-btn-four:focus,
  .am-btn-four.am-disabled:active,
  .am-btn-four[disabled]:active,
  fieldset[disabled] .am-btn-four:active,
  .am-btn-four.am-disabled.am-active,
  .am-btn-four[disabled].am-active,
  fieldset[disabled] .am-btn-four.am-active {
    background-color: #FFA837;
    border-color: #FFA837;
  }
  .am-btn-group .am-btn-four,
  .am-btn-group-stacked .am-btn-four {
    border-color: #FFA837;
  }

/*---------------table-----------------*/
 .am-table > thead > tr > th,
 .am-table > tbody > tr > th,
 .am-table > tfoot > tr > th,
 .am-table > thead > tr > td,
 .am-table > tbody > tr > td,
 .am-table > tfoot > tr > td {
   padding: 15px 25px;
   line-height: 1.6;
   vertical-align: middle;
   border-top: 1px solid transparent;
   font-size:14px;
   white-space:nowrap;

 }


 .table-h > thead > tr > th,
 .table-h > tbody > tr > th,
 .table-h > tfoot > tr > th,
 .table-h > thead > tr > td,
 .table-h > tbody > tr > td,
 .table-h > tfoot > tr > td{
    min-width: 150px;
 }

 .table-h-2 > thead > tr > th,
 .table-h-2 > tbody > tr > th,
 .table-h-2 > tfoot > tr > th,
 .table-h-2 > thead > tr > td,
 .table-h-2 > tbody > tr > td,
 .table-h-2 > tfoot > tr > td{
    min-width: 100px;
 }
 .am-table > thead > tr > th {
   vertical-align: middle;
   border-bottom: 1px solid transparent;
   background:#fafafb;
 }
 .am-table .am-checkbox{
	 font-size: 16px;
 }
 .am-table > tbody > tr > td .am-radio,  
 .am-table > tbody > tr > td .am-checkbox,
 .am-table > thead > tr > th .am-radio,  
 .am-table > thead > tr > th .am-checkbox{
	 margin-top:-4px;
	 margin-bottom: 0;
 }
 .am-table > tbody > tr:hover{
	 background: #FFF1EF;
 }

.pe-10{
    width:10%;
}
.pe-15{
    width:15%;
}
.pe-20{
    width:20%;
}
.pe-30{
    width:30%;
}
.pe-40{
    width:40%;
}
.pe-50{
    width:50%
}
.pe-60{
    width:60%
}
.pe-70{
    width:70%
}
.dis-table{
    display: table
}
.test-red{
    color: #F45138;
}
.bg-white{
    background: #ffffff;
}


/*------------- 分页---------------- */
.xm-pagination-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pagination-test{
    margin: 0;
    color: #999999;
    font-size:12px;
    padding:5px;
    margin-right:20px;
}
.xm-pagination-box .xm-form-cont{
    margin-left:0;
    margin-right:20px;
}
.xm-pagination-box .xm-form-cont select{
    padding:6px 12px;
    border-radius: 5px;
    border:1px solid #ccc;
    font-size: 12px;
    height: 32px;
    width:100px;
    background: #fff;
}
.xm-pagination {
    position: relative;
    text-align: center;
}
.xm-pagination:before,
.xm-pagination:after {
    content: "";
    display: table;
}

.xm-pagination:after {
    clear: both;
    overflow: hidden;
}
.xm-pagination span {
    float: left;
    margin: 0 1px;
    padding: 5px 10px;
    font-size: 12px;
    color: #F45138;
    border-radius: 3px;
}
.xm-pagination .active {
    float: left;
    margin: 0 1px;
    padding: 5px 10px;
    background: #F45138;
    color: #fff;
    font-size: 12px;
    border: 1px solid #F45138;
    border-radius: 3px;
}
.xm-pagination a {
    float: left;
    margin: 0 1px;
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #CCCCCC;
    color: #333;
    font-size: 12px;
    border-radius: 3px;
}
.xm-pagination a:hover {
    color: #fff;
    background: #F45138;
    border-radius: 3px;
    border: 1px solid #F45138;
}

.xm-pagination .next,
.xm-pagination .prev {
    font-family: "Simsun";
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}

.now,
.count {
    padding: 0 10px;
    color: #f00;
}
.xm-pagination input {
    float: left;
    margin: 0 10px;
    padding: 6px 10px;
    text-align: center;
    background: #fff;
    border: 1px solid #CCCCCC;
    outline: none;
    color: #bdbdbd;
    font-size: 12px;
    width: 60px;
    border-radius: 3px;
}

/* tanchuceng */
.am-modal-hd{
    background: #ffffff;
}
.am-modal-bd{
    padding:0;
}
.am-modal-hd + .am-modal-bd{
    padding-top:1px;
}

.am-modal-footer{
    padding:20px 10%;
    height: 40px;
    justify-content: space-between;
    background: #FFFFFF;
    text-align: center;
}
.am-modal-footer button{
    float: left;
    display: table-cell;
    border-radius: 5px;
    display: block;
    margin:10px 10%;
    width:30%;
}
/* 上传 */
.uploader{
    position:relative;
    display:inline-block;
    overflow:hidden;
    cursor:default;
    padding:0;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    }
.filename{
    float:left;
    display:inline-block;
    outline:0 none;
    height:32px;
    width:180px;
    margin:0;
    padding:8px 10px;
    overflow:hidden;
    cursor:default;
    border:1px solid;
    border-right:0;
    color:#777;
    text-overflow:ellipsis;
    white-space:nowrap;
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-radius:5px 0px 0px 5px;
    border-radius:5px 0px 0px 5px;
    background:#ffffff;
    border-color:#ccc; 
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.blower-button{
    float:left;
    height:32px;
    display:inline-block;
    outline:0 none;
    margin:0;
    cursor:pointer;
    border:1px solid;
    font-size:14px;
    -moz-border-radius:0px 5px 5px 0px;
    -webkit-border-radius:0px 5px 5px 0px;
    border-radius:0px 5px 5px 0px;
    }
.uploader input[type=file]{
    position:absolute;
    top:0; right:0; bottom:0;
    border:0;
    padding:0; margin:0;
    height:32px;
    cursor:pointer;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity:0;
    }
    
input[type=button]::-moz-focus-inner{
    padding:0; 
    border:0 none; 
    -moz-box-sizing:content-box;
}
input[type=button]::-webkit-focus-inner{
    padding:0; 
    border:0 none; 
    -webkit-box-sizing:content-box;
}
input[type=text]::-moz-focus-inner{
    padding:0; 
    border:0 none; 
    -moz-box-sizing:content-box;
}
input[type=text]::-webkit-focus-inner{
    padding:0; 
    border:0 none; 
    -webkit-box-sizing:content-box;
}


    /* Red Color Scheme ------------------------ */

.red.blower-button{
    color:#fff;
    background:rgba(244,81,56,1);
    box-shadow:0px 1px 2px 0px rgba(244,81,56,0.5);
    border:1px solid rgba(244,81,56,1);
    }
    .red:hover .blower-button{
    background:rgba(244,81,56,1);
    }
    









